<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Members Only</h1>
  </header>
  <div class="card">
    <h1>Welcome Back!</h1>
    <%- include("../partials/errors") %>
    <form method="post" action="/form/login">
      <label class="email-label">
        Email
        <input type="email" name="email" id="email" >
      </label>
      <label class="password-label">
        Password
        <input type="password" name="password" id="password" >
      </label>
      <p class="login-redirect">Not a member? <a href="/form/signup">Sign up here</a></p>
      <button type="submit" class="primary">Login</button>
    </form>
  </div>
</body>
</html>