<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
</head>
<body>
  <h1>Signup</h1>
  <%- include("../partials/errors") %>
  <form method="post" action="/form/signup">
    <label>
      First:
      <input type="text" name="first" id="first" >
    </label>
    <label>
      Last:
      <input type="text" name="last" id="last" >
    </label>
    <label>
      Email:
      <input type="email" name="email" id="email" >
    </label>
    <label>
      Password:
      <input type="password" name="password" id="password" >
    </label>
    <label>
      Confirm Password:
      <input type="password" name="confirm_password" id="confirm_password" >
    </label>
    <button type="submit">Submit</button>
  </form>
</body>
</html>