<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upgrade Role</title>
  <style type="text/css">
    .role-option {
      cursor: pointer;
    }
    .active-option, 
    .role-option:hover{
      background-color: lightgray;
    }
  </style>
</head>
<body>
  <div>
    <h1>Upgrade Account</h1>
    <p>Select the role you want</p>
    <div class="role-option active-option" data-value="premium">
      <h3>Premium</h3>
      <ul>
        <li>See author and date</li>
      </ul>
    </div>
    <div class="role-option" data-value="admin">
      <h3>Admin</h3>
      <ul>
        <li>See author and date</li>
        <li>Delete comments</li>
      </ul>
    </div>
    <form action="/form/upgrade" method="post">
      <%- include("../partials/errors") %>
      <input type="hidden" name="role" id="role" value="premium">
      <label>
        Enter Secret Password for 
        <span class="display-role">Premium</span> 
        role:
        <input type="password" name="secretPass" id="secretPass">
      </label>
      <button type="submit">Submit</button>
    </form>

    <script>
      const roleSpan = document.querySelector(".display-role");
      const options = document.querySelectorAll(".role-option");
      const hiddenInput = document.querySelector("input[type='hidden']");

      const updateRoleSpan = (selectedOption) => {
        roleSpan.textContent = 
        selectedOption.charAt(0).toUpperCase() + selectedOption.slice(1);
      }

      const highlightRoleOption = (selectedOption) => {
        options.forEach((option) => {
          const curOptionValue = option.getAttribute("data-value");
          if (curOptionValue === selectedOption) option.classList.add("active-option");
          else option.classList.remove("active-option");
        });
      }

      const updateHiddenInput = (selectedOption) => {
        hiddenInput.value = selectedOption;
      }

      options.forEach((option) => option.addEventListener("click", () => {
        const selectedOption = option.getAttribute("data-value");
        updateRoleSpan(selectedOption);
        highlightRoleOption(selectedOption);
        updateHiddenInput(selectedOption);
      }));
    </script>
  </div>
</body>
</html>