<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upgrade Role</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Members Only</h1>
  </header>
  <div class="card upgrade-role">
    <h1>Upgrade Account</h1>
    <p>Select the role you want</p>
    <div class="role-options-container">
      <div class="role-option active-option" data-value="premium">
        <img src="/icons/star.svg" alt="star icon" class="icon large">
        <h3>Premium</h3>
        <ul>
          <li>See author and date</li>
        </ul>
      </div>
      <div class="role-option" data-value="admin">
        <img src="/icons/gear.svg" alt="gear icon" class="icon large">
        <h3>Admin</h3>
        <ul>
          <li>See author and date</li>
          <li>Delete comments</li>
        </ul>
      </div>
    </div>
    <form action="/form/upgrade" method="post">
      <%- include("../partials/errors") %>
      <input type="hidden" name="role" id="role" value="premium">
      <label class="secret-password-label">
        <div>
          Enter Secret Password for
          <span class="display-role">Premium</span>
          role
        </div>
        <input type="password" name="secretPass" id="secretPass">
      </label>
      <button type="submit" class="primary">Submit</button>
    </form>

    <script>
      const roleSpan = document.querySelector(".display-role");
      const options = document.querySelectorAll(".role-option");
      const hiddenInput = document.querySelector("input[type='hidden']");

      const updateRoleSpan = (selectedOption) => {
        roleSpan.textContent = 
        selectedOption.charAt(0).toUpperCase() + selectedOption.slice(1);
      }

      const highlightRoleOption = (selectedOption) => {
        options.forEach((option) => {
          const curOptionValue = option.getAttribute("data-value");
          if (curOptionValue === selectedOption) option.classList.add("active-option");
          else option.classList.remove("active-option");
        });
      }

      const updateHiddenInput = (selectedOption) => {
        hiddenInput.value = selectedOption;
      }

      options.forEach((option) => option.addEventListener("click", () => {
        const selectedOption = option.getAttribute("data-value");
        updateRoleSpan(selectedOption);
        highlightRoleOption(selectedOption);
        updateHiddenInput(selectedOption);
      }));
    </script>
  </div>
</body>
</html>